<nav class="nav-title flex align-items-center justify-content-between">
    <p-button icon="pi pi-save" [text]="true" class="mr-2" severity="secondary" />
    <p-button icon="pi pi-trash" [text]="true" class="mr-2" severity="secondary" [disabled]="!produto" (onClick)="confirmarExclusaoProduto()"/>
    <h3 class="m-0 mx-auto">Cadastro de Produto</h3>
</nav>


<section>
    <div class="dados-cadastro">
        <form class="filters" [formGroup]="produtoForm">
            <div class="input-label">
                <label>Código</label>
                <input pInputText pKeyFilter="int" pSize="large" formControlName="codigo"/>
            </div>

            <div class="input-label">
                <label>Descrição</label>
                <input pInputText pSize="large" style="width: 300px;" formControlName="descricao" />
            </div>

            <div class="input-label">
                <label>Custo</label>
                <input pInputText pKeyFilter="money" pSize="large" formControlName="custo" />
            </div>
        </form>

        <app-custom-table [columns]="cols" [data]="produtoLojaList" [showHeaderButton]="true" [iconHeaderButton]="'pi pi-plus'"
            (buttonClick)="handleButtonClick($event)" (buttonHeaderClick)="openCadastroDialog()"></app-custom-table>

    </div>
</section>

<p-confirmdialog />


<p-dialog [(visible)]="dialogPreco" [modal]="true" [style]="{ width: '50rem'}" (onHide)="closeDialogPreco()">
    <ng-template #header>
        <div class="flex align-items-center justify-content-between w-full">
            <p-button icon="pi pi-save" [text]="true" class="mr-2" severity="secondary" (onClick)="salvarProdutoLoja()"/>
            <span class="font-bold whitespace-nowrap m-0 mx-auto" >Alteração/Inclusao de Preço</span>
        </div>
    </ng-template>
    <form class="flex flex-row justify-content-between align-items-center gap-2" [formGroup]="lojaPrecoVendaForm">
        <div class="input-label w-full">
            <label>Loja</label>
            <p-select  [options]="lojaList" optionLabel="descricao" placeholder="Selecione uma loja" class="w-full md:w-56" appendTo="body" formControlName="loja"/>
        </div>
        <div class="input-label">
            <label>Preço de Venda</label>
            <input pInputText pKeyFilter="money" formControlName="precoVenda"/>
        </div>
    </form>
</p-dialog>