<p-table [columns]="columns" [value]="data" [lazy]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
    <ng-template #caption *ngIf="showHeaderButton">
        <div class="flex items-center justify-between">
            <p-button [icon]="iconHeaderButton" rounded raised severity="secondary"
                (onClick)="onButtonHeaderClick($event)" />
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <ng-container *ngIf="col.type !== 'actions' && col.type !== 'currency'">
                    {{ rowData[col.field] }}
                </ng-container>

                <ng-container *ngIf="col.type === 'currency'">
                    {{rowData[col.field] | currency:'BRL':'symbol':'1.2-2'}}
                </ng-container>

                <div *ngIf="col.type === 'actions'" class="flex gap-2 align-items-center justify-content-end">
                    <button *ngFor="let action of col.actions" pButton type="button" [icon]="action.icon"
                        [label]="action.label" [class]="action.class"
                        (click)="onButtonClick($event, rowData, col.field, action.actionId)">
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>