<nav class="nav-title flex align-items-center justify-content-between">
    <p-button icon="pi pi-plus" [rounded]="true" [outlined]="true" class="mr-2" severity="secondary" />
    <h3 class="m-0 mx-auto">Consulta de Produto</h3>
</nav>

<section>
    <form class="filters" [formGroup]="produtoForm">
        <div class="input-label">
            <label>Código</label>
            <input pInputText pKeyFilter="int" pSize="large" formControlName="codigo" />
        </div>

        <div class="input-label">
            <label>Descrição</label>
            <input pInputText pSize="large" style="width: 500px;" formControlName="descricao" />
        </div>

        <div class="input-label">
            <label>Custo</label>
            <input pInputText pKeyFilter="money" pSize="large" formControlName="custo" />
        </div>

        <div class="input-label">
            <label>Preço de Venda</label>
            <input pInputText pKeyFilter="money" pSize="large" formControlName="precoVenda" />
        </div>
    </form>

    <app-custom-table
        [columns]="cols"
        [data]="produtos"
        [showHeaderButton]="false"
        (buttonClick)="handleButtonClick($event)"
    ></app-custom-table>
    <p-confirmdialog />

</section>